* {
    box-sizing: border-box;
    text-decoration: none;
  }

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/coast.jpeg");
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 365px;
    
}


.title-container {
    width: 100%; 
    /* margin-top: 2%; */
    /* margin-right: auto;
    margin-left: auto;
    max-width: 600px; */
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

.title-text {
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 40px 0px;
}

p {
    font-size: 20px;
    text-align: left;
    color: #000;
    padding: 0 10% 0 10%;
}

.sections {
  margin-left: 210px;
}

.section-container {
  background-color: white;
  width: 100%;
  padding: 20px 10px;
}

/* 
NAV
 */
#open-nav {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 30px;
    display: none;
    z-index: 9;
}

#small-nav {
    /* display: none; */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    text-align: center;
}

.small-nav-contact {
  color: #cccccc;
  bottom: 0;
  margin: 50px 5px 0px 10px;
  font-size: 14px;
  line-height: 25px;
}
.small-nav-contact i{
  color: #cccccc;
  font-size: 18px;
}

.small-nav-contact a{
  color: #cccccc;
}

a#close-nav {
    font-size: 70px;
    cursor: pointer;
    /* display: none; */
    padding-top: 0;
}

#big-nav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    opacity: 0.9;
    padding-top: 60px;
}
.nav-links {
    text-decoration: none;
    font-size: 25px;
    color: #cccccc;
    display: block;
    padding: 10px 5px 10px 10px;
}

.nav-links:hover {
    color: #7e7e7e;
}

.big-nav-contact {
  color: #cccccc;
  bottom: 0;
  margin: 100px 5px 0px 10px;
  font-size: 14px;
  line-height: 25px;
}
.big-nav-contact i {
  color: #cccccc;
  font-size: 18px;
}

.big-nav-contact a {
  color: #cccccc;
}

 /*
HOME
*/
#home {
    height: 100vh;
    padding-left: 210px;
}

.home-container {
    padding: 80px 10px;
    text-align: center;
}

.name {
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    line-height: 50px;
    letter-spacing: 5px;
    height: 100%;
    overflow: hidden;
}

.head {
    font-size: 20px;
    margin-bottom: -10px;
    padding: 0;
    text-align: center;
}

.contact-link-1 {
    color: black;
    line-height: 20px;
    text-decoration: none;
}




/*
SKILLS
*/
.skills-flex {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
}

.skills-container {
  font-size: 80px;
  text-align: center;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
}


.skills-text {
  font-size: 15px;
  font-style: italic;
  font-family: 'Cormorant', serif;
}

.skills-title-container {
  /* background-color: #111; */
  margin: 0 0 10px 30px;
  width: 130px;
}

#lng.skills-title-container {
  width: 117px;
}

.skills-title {
  font-size: 20px;
  text-align: left;
  padding: 2px 2px;
  color: #7e7e7e;
  opacity: .9;
  width: 100%;
}

/*
PORTFOLIO
*/
  .work-flex {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 30px;
  }
  
  .work-container {
    font-size: 80px;
    text-align: center;
    padding: 10px;
    /* border: 1px solid #adadad; */
    background-color: #ebebeb;
    border-radius: 5px;
    width: 230px;
    margin: 10px;
  }

  .work-container:hover {
    cursor: pointer;
    background-color: #cfcfcf;
  }

  .work-container img {
    border-radius: 3px;
    width: 210px;
    height: 140px;
    background-color: black;
    margin-bottom: 0;
    box-shadow: 1px -1px 9px 1px #8888886b;
  }

  .work-title {
    font-size: 20px;
    text-align: center;
    padding: 2px 2px 5px 2px;
    color: #5f5f5f;
    opacity: .9;
    width: 100%;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin-left: 210px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #111;;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #cccccc;
  color: #111;
}

.modal-body {
  padding: 2px 16px;
  height: 300px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #cccccc;
  color: #111;
}

.work-btn {
  text-decoration: none;
    color: #cccccc;
    background: #111;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}
.work-btn:hover { 
  background: rgba(17, 17, 17, 0.9);
}


/*
EDU & EXP
*/
  
  .edu-list {
    padding: 1%;
    line-height: 25px;
    list-style-type: none;
    list-style-position: inside;
    margin: 0 5% 0 5%;
    font-family: 'Cormorant', serif;
    font-size: 18px;
  }
  .exp-container {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
  }
  .exp-position {
    font-weight: bold;
  }
 
  /*
ABOUT
*/
  p.about-text {
    font-size: 20px;
    font-family: 'Cormorant', serif;
    margin: 0;
    padding: 10px 0px;
    min-height: 580px;
  }

  .img-container {
    max-width: 600px;
    max-height: 600px;
    float: left;
    padding: 0px 20px 10px 10px;
  }
  
  .img-about {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
  }



/*
FOOTER
*/
#footer {
    padding: 20px 20px 20px 20px;
    margin-left: 210px;
    background-color: #111;
    opacity: .9;
    color: #cccccc;
    font-size: 12px;
  }
  
  


  @media screen and (max-width: 780px) {
    #open-nav {
        display: block;
    }
    #big-nav {
        display: none;
    }
    #home{
      margin-left: 0;
      padding-left: 0;
    }

    #skills,
    #portfolio,
    #experience,
    #about,
    .modal-content {
        margin-left: 0;
    }
    #footer {
      margin-left: 0;
    }

    .slide-container {
      justify-content: center;
      min-height: 100px;
    }

    .left-container{
      margin-left: 0px;
    }

    .mySlides img {
      margin-right: 0px;
      margin-left: 0;
    }

    p#caption {
      text-align: center;
    }

    .img-container {
      float: none;
      padding: 20px 10% 20px 10%;
      margin: auto;
    }

    span#caption {
      margin-left: 0;
    }
    .container {
      text-align: center;
    }
    
  }


  @media screen and (min-width: 912px) {
    #portfolio,
    #skills {
      /* height: 100vh; */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media screen and (max-width: 1000px) {
    .img-container {
      float: none;
    }
  }
 