* {
    box-sizing: border-box;
    text-decoration: none;
  }

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/coast.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 365px;
    
}


.title-container {
    width: 80%; 
    /* margin-top: 2%; */
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    padding-bottom: 0; 
}

.title-text {
    text-align: center;
    font-size: 40px;
    /* padding: 1%; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Cormorant', serif; */
    margin: 30px 0 40px 0;
}

p {
    font-size: 20px;
    text-align: left;
    color: #000;
    padding: 0 10% 0 10%;
}

/* 
NAV
 */
#open-nav {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 30px;
    display: none;
    z-index: 9;
}

#small-nav {
    /* display: none; */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    text-align: center;
}

.small-nav-contact {
  color: #cccccc;
  bottom: 0;
  margin: 50px 5px 0px 10px;
  font-size: 14px;
  line-height: 25px;
}
.small-nav-contact i{
  color: #cccccc;
  font-size: 18px;
}

.small-nav-contact a{
  color: #cccccc;
}

a#close-nav {
    font-size: 70px;
    cursor: pointer;
    /* display: none; */
    padding-top: 0;
}

#big-nav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    opacity: 0.9;
    padding-top: 60px;
}
.nav-links {
    text-decoration: none;
    font-size: 25px;
    color: #cccccc;
    display: block;
    padding: 10px 5px 10px 10px;
}

.nav-links:hover {
    color: #7e7e7e;
}

.big-nav-contact {
  color: #cccccc;
  bottom: 0;
  margin: 100px 5px 0px 10px;
  font-size: 14px;
  line-height: 25px;
}
.big-nav-contact i {
  color: #cccccc;
  font-size: 18px;
}

.big-nav-contact a {
  color: #cccccc;
}

 /*
HOME
*/
#home {
    height: 100vh;
    padding-left: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-container {
    padding: 60px 10px;
    text-align: center;
}
.name {
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    letter-spacing: 5px;
    overflow: hidden;
}
.head {
    font-size: 20px;
    margin-bottom: -10px;
    padding: 0;
    text-align: center;
}

/* .stage {
  height: 100px;
  width: 100%;
} */
.box {
  text-align: center;
  font-size: 50px;
  margin: 0 auto 0 auto;
}

#down {
  
  font-family: 'Inconsolata', monospace;
  font-size: 70px;
  width: 100px;
  margin: 0 auto 0 auto;
  transform-origin: 0 0;
  transform: rotate(180deg);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
#down:hover {
  animation-play-state: paused;
  color: #CCC;
}
#down a {
  color: #111;
  opacity: .9;
}
#down a:hover {
  color: #CCC;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}


/*
SKILLS
*/
#skills {
  padding: 2px 10px 50px 10px;
  background-color: white;
  /* background-color: #cccccc; */
  margin-left: 210px;
  
}

.skills-flex {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 60px;
}

.skills-container {
  font-size: 80px;
  text-align: center;
  padding: 10px;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 100px;
  margin: 10px;
}


.skills-text {
  font-size: 15px;
  font-style: italic;
  font-family: 'Cormorant', serif;
}

.skills-title-container {
  /* background-color: #111; */
  margin: 0 0 10px 30px;
  width: 130px;
}

#lng.skills-title-container {
  width: 117px;
}

.skills-title {
  font-size: 20px;
  text-align: left;
  padding: 2px 2px;
  color: #7e7e7e;
  opacity: .9;
  width: 100%;
}

/*
PORTFOLIO
*/
#portfolio {
    padding: 2px 0px 50px 0px;
    background-color: rgb(179, 194, 199);
    margin-left: 210px;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    padding-top: 30px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    /* justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%; */
  }
  
  .slide-container {
    width: 100%;
    background-color: rgb(179, 194, 199);
    padding: 0px 60px;
    /* padding-left: 100px; */
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    height: 100%;
    min-height: 350px;
  }

  .slide-container ul {
    width: 60%;
    list-style-type: none;
  }

  .list-text{
    padding-top: 15px;
    font-family: 'Cormorant', serif;
    
  }
  .list-text:first-child{
    padding-top:0;
  }

  .left-container{
    margin-top: 20px;
    width: 210px;
    margin-left: 40px;
    text-align: center;
  }

  .mySlides img {
    border-radius: 3px;
    width: 210px;
    height: 140px;
    background-color: black;
    margin-bottom: 20px;
    box-shadow: 1px -1px 9px 1px #8888886b;
  }

  .work-btn {
    color: black;
    /* background-color: #111;
    opacity: .9;
    border-radius: 50px;
    padding: 10px 15px; */
    font-weight: bold;
  }
  .work-btn:hover {
    color: #7e7e7e;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #7e7e7e;
    font-weight: bold;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left:0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    color: black;
  }
  
  
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    padding: 2px 16px;
    background-color: #111;
    opacity: .9;
  }
  span#caption {
    /* background-color: #111; */
    font-size: 25px;
    padding: 2px 2px;
    color: #111;
    margin-left: 100px;
    font-weight: bold;
  }

  .row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 0 auto;
    padding-top: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    border-radius: 10px;
    width: 75px;
    height: 50px;
    background-color: black;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  

/*
EDU & EXP
*/
#experience {
    background: rgb(255, 255, 255);
    padding: 15px 10px 70px 10px;
    margin-left: 210px;
  }
  
  .edu-list {
    padding: 1%;
    line-height: 25px;
    list-style-type: none;
    list-style-position: inside;
    margin: 0 5% 0 5%;
    font-family: 'Cormorant', serif;
    font-size: 18px;
  }
  .exp-container {
      width: 100%;
      text-align: center;
      padding-bottom: 20px;
  }
  .exp-position {
    font-weight: bold;
  }
 
  /*
ABOUT
*/
#about {
  background: rgb(255, 255, 255);
    padding: 15px 10px 70px 10px;
    margin-left: 210px;
}
  .about-text {
    font-size: 20px;
    font-family: 'Cormorant', serif;
  }

  .img-container {
    max-width: 600px;
    max-height: 600px;
    float: left;
    padding: 0px 20px 10px 10%;
  }
  
  .img-about {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
  }



/*
CONTACT
*/
#footer {
    padding: 20px 20px 20px 20px;
    margin-left: 210px;
    background-color: #111;
    opacity: 1;
    color: #cccccc;
  }
  
  .contact-list {
      line-height: 25px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  
  .contact-link {
      text-decoration: none!important;
      color: rgb(156, 156, 156);
      margin: 0 5px;
  }
  
  .contact-title-text {
      color: white;
      text-align: center;
      font-size: 40px;
      font-family: 'Montserrat', sans-serif;
      top: 0;
  }
  
  #contact-link-click {
    color: rgb(204, 204, 204);
  }
  
  #contact-link-click:hover {
    color: rgb(156, 156, 156);
  }


  @media screen and (max-width: 780px) {
    #open-nav {
        display: block;
    }
    #big-nav {
        display: none;
    }
    #home{
      margin-left: 0;
      padding-left: 0;
    }

    #skills,
    #portfolio,
    #experience,
    #about {
        margin-left: 0;
    }
    #footer {
      margin-left: 0;
    }

    .slide-container {
      justify-content: center;
      min-height: 100px;
    }

    .left-container{
      margin-left: 0px;
    }

    .mySlides img {
      margin-right: 0px;
      margin-left: 0;
    }

    p#caption {
      text-align: center;
    }

    .img-container {
      float: none;
      padding: 20px 10% 20px 10%;
      margin: auto;
    }

    span#caption {
      margin-left: 0;
    }
    .container {
      text-align: center;
    }
    
  }

  @media screen and (max-width: 600px) {
    .list-text {
      display: none;
    }
  }

  @media screen and (min-width: 912px) {
    #portfolio,
    #skills {
      height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
 