body{
    background-color: white;
}

h1{
    text-align: center;
    border-top: .1px solid black;
}

/*NAV*/


.navbar-brand{
    font-size: 30px;
}

/*HOME*/
#home{
    background-color: white;
}

.card{
    margin-top: 0px; 
    background-color: white;
}

/*SKILLS*/
#skills{
    margin-top: 0px;
    background-color: white;
}


/*EDUCATION & EXPERIENCE*/
#experience{
    margin-top: 0px;
}

/*PORTFOLIO*/
#portfolio{
    margin-top: 0px;
}


/*CONTACT*/
#contact{
    margin-top: 0px;
}